* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #242424;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-card {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    margin-bottom: 5px;
    color: #333;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
}

.input-container input:focus {
    border-color: #333;
}

.input-container button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.input-container button:hover {
    background-color: #444;
}

.result {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
}

.result h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #444;
}

.result-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-container p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}
